.stats {
    padding: 20px;
    background-color: #e3f2fd;
    text-align: center;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}